#output {
  display: none;
}

.bg-cover {
  color: white;
}

.card {
  margin-bottom: 20px;
  color: #092b09;
  padding: 10px 50px;
}

h3 {
  margin-top: 30px;
  color: #227a22;
}

.btn {
  margin-top: 30px;
  color: #324032;
  width: 100%;
  font-weight: bold;
}

.name, .firstOutput, .secondOutput, .musicSelection {
  font-weight: bold;
}
